.ant-modal-footer {
  display: none;
}
.itemDetailsWrapper {
  display: flex;
  align-items: center;
}
.itemFields {
  margin-left: 15px;
}
.personImg {
  width: 100px;
}
.itemField {
  text-align: left;
}
