.root-Login {
  padding: 5%;
  .loginHeading {
    font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  form#login {
    display: flex;
    flex-direction: column;
    align-items: center;
    .logBtn {
      width: 100%;
    }
  }
}

