.ant-modal-footer {
  display: none;
}

.itemDetailsWrapper {
  display: flex;
  align-items: center;
}

.personImg {
  width: 100px;
}

.itemFields {
  margin-left: 15px;
}

.itemField {
  text-align: left;
}



